---
apiVersion: 1

providers:
- name: 'default'
  orgId: {{ grafana_org_id }}
  folder: ''
  type: file
  disableDeletion: false
  updateIntervalSeconds: 600 #how often Grafana will scan for changed dashboards
  options:
    path: {{ grafana_provisioning_dashboards }}
